:root {
  --main-bg-color: #ffffff;
  --menu-bg-color: #34495e;
  --menu-hover-bg-color: #0dcda1;
  --main-color: #34495e;
  --select-bg-color: #FFCC66;
  --table-titre-color: #eef3f5;
  --ligne-impaire-color: #c6cfd3;
  --ligne-paire-color: #eceff1;
  --table-cell-hover-bg-color: #FFCC66;
  --table-cell-hover-color: black;
  --max-sector-bg-color: #E46464;
  --result-bg-color: #3f5a73;
  --help-bg-color: #6dd6cc;
  --help-color: #111;
  --help-button-color: #3db6ac;
  --upload-button-color:  #bb5733;
  --upload-button-bg-color: #6dd6cc;
  --popup-bg-color: #fff;
  --caption-uceso: #77ce77;
  --graph-uceso: #2c3e50;
  --color-2019: #00caff;
  --color-j-7: #ffca00;
  --color-j: #77ce77;
}

html {
  scroll-behavior: smooth;
  font-family: Avenir, sans-serif;
}

body {
	font-size: 12px;
	background: var(--main-bg-color);
	color: var(--main-color);
	position: relative;
	width: auto;
	height: 100%;
	margin: 0;
  	padding: 0;
}

body.editor header {
	margin: 0 auto;
	width: 180px;
	font-size: 36px;
}

body.editor #save {
	font-size: 16px;
}

body.editor span a {
	margin-left: 30px;
}

#button_save {
	margin-left: 10px;
}

span.back {
	margin-left: 20px;
	font-size: 14px;
}

.off {
	display: none;
}

.pointer {
	cursor: pointer;
}

#selection {
	margin: 10px;
}

#button_save {
	margin-top: 5px;
}

#feuille_capa_tour {
	display: flex;
}

#feuille_capa_uceso,  #feuille_capa_simu{
	margin-top: 10px;
	padding: 10px;
	background-color: var(--graph-uceso);
}

#left_part {
	background-color: white;
	min-height: 540px;
}

#right_part {
	width: 1600px;
}

#upd {
	margin: 10px;
}

/* Bandeau de navigation */

nav{
    width: 100%;
    margin: 0px auto;
    background-color: white;
    position: sticky;
    top: 0px;
	background-image:url(../images/bandeau-fond3.png);
}

nav ul{
	margin: 0px auto;
	width: 80%;
    list-style-type: none;
	height: 46px;
}

nav li{
    float: left;
    width: 16%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: #EEE;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
	font-family: "Avenir Next Regular",sans-serif;
	font-size: 18px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

/* ------- Titre ------- */

h1 {
	font-size: 36px;
	font-family: 'Azonix';
	color: var(--main-color);
	/*text-shadow: 2px 2px 4px #000000;*/
	text-align: center;
	width: 50%;
	margin: 7px auto;

}

header.instr {
	display: flex;
}

header.instr span {
	font-size: 16px;
	margin-top: 20px;
}

header.instr h1 {
	text-align: left;
	margin-left: 20px;
	margin-right: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
}

h2 {
	font-family: 'Sansation';
	font-size: 24px;
	margin: 10px;
	text-align: center;
}

.logo {
	width: auto;
	height: 40px;
}

/* ------- Menu ------- */

ul.menu {
	margin: 12px auto 0;
	position: relative;
	width: 860px;
	height: 50px;
	background-color: var(--menu-bg-color);
	border-radius: 8px;
	cursor: default;
}

ul.menu li {
	line-height: 50px; /*permet le centrage vertical*/
	height: 100%;
	font-size: 14px;
	font-family: 'RussoOne';
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: var(--table-titre-color);
}

ul.menu li.feuille a, ul.menu li.feuille a:visited {
	color: var(--table-titre-color);
}

ul.menu li.feuille {
	margin-left: 30px;
}

ul.menu li label {
	margin-left: 30px;
}

ul.menu li span{
	transition: all .5s ease 0s;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 20px 10px;
	border-radius: 2px;
}

ul.menu li span:hover {
	background-color: var(--menu-hover-bg-color);
	border-radius: 10px;
	
}

select, option {
	background-color: var(--select-bg-color);
	vertical-align: middle;
	height: 24px;
	margin-top: 5px;
	margin-left: 40px;
}

#selection.select {
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 6px;
	z-index: 1;
	width: 70px;
}

#zone.select, #saison.select {
	margin-left: 0px;
	line-height: 20px;
	height: 24px;
	margin-top: 0;
	z-index: 1;
	width: 100px;
}

#saison.select {
	width: 120px;
}

input {
	line-height: 20px;
}

/* ------- Date Picker ------- */

#dates {
	display: flex;
	flex-direction: row;
	width: 570px;
	margin: 0 auto;
	text-align: center;
}

#dates input {
	font-size: 11px;
	vertical-align: middle;
	width: 104px;
	margin-top: 5px;
	margin-right: 30px;
	margin-left: 5px;
}

#dates label {
	line-height: 28px;
	font-size: 14px;
	margin-left: 0px;
	margin-top: 5px;
}

#dates input.time {
	width: 60px;
}

#arrow_left, #arrow_right {
	margin-top: 2px;
}

/* --------- Boutons +/- ----------- */
.minus, .plus{
    height:25px;
    width:25px;
    border:1px black solid;
    border-radius:50%;
}
.minus:hover{
    background-color:rgb(253, 150, 150);    
}
.plus:hover{
    background-color:rgb(104, 194, 104);
}
.numberPlace {
	display: inline-block;
	width: 15px;
    margin-left:5px;
    margin-right:5px;
}

.modify {
	width: 80px;
}

/* ------- Résultats ------- */

#result, #cont {
	background-color: aliceblue;
	margin: 18px;
	padding: 20px;
	padding-top: 0px;
	min-height: 100%;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	font-size: 13px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width:fit-content;
}

table.uceso {
	margin: 0 auto;
}

table.uceso caption, table.simu caption {
	color: var(--caption-uceso);
}

caption {
	font-family: 'Sansation';
	font-size: 24px;
	margin: 10px;
	text-align: left;
}

table thead > tr.titre {
  background-color: var(--table-titre-color);
}

table.uceso tr:nth-child(6n+1), table.uceso tr:nth-child(6n+2), table.uceso tr:nth-child(6n+3) {
  background-color: var(--ligne-paire-color);
}

#table_option {
	height: 130px;
	background-color: #eceff1;
}

#table_option input {
	margin-left: 10px;
	margin-top: 20px;
}

#table_option label {
	margin-left: 10px;
	font-size: 14px;
}

td, th {
	width: 13px;
	padding: 1px;
	text-align: center;
	font-size: 13px;
}

.bold {
	font-weight: bold;
}

table.simu {
	width:fit-content;
}

table.simu td, table.simu th{
	padding: 5px;
}

td[data-col], #feuille_capa_tour td.pc {
	cursor: pointer;
}

#feuille_capa_tour td.pc:hover, #feuille_capa_uceso td.pc:hover {
	background-color:rgb(245, 213, 153);
	cursor: pointer;
}

td.typePC:hover, td.typePC-DET:hover, td.typePC-RPL:hover {
	background-color: var(--table-titre-color);
	cursor: pointer;
}

.barre {
	text-decoration: red line-through;
	color: red;
}

.surligne {
	background-color: aquamarine;
}

.max {
	background-color: var(--max-sector-bg-color);
	width: 140px;
	margin-top: 20px;
	font-size: 16px;
}

/* feuille capa */

td.f8px {
	font-size: 8px;
}

td.bg {
	background-color:rgb(181, 226, 240);
}

td.bg_red {
	background-color:rgb(245, 213, 153);
}

th.bordure, td.bordure {
	border: 1px solid rgb(19, 18, 18);
}

th.bordure_uc, td.bordure_uc {
	border: 2px solid rgb(19, 18, 18);
	border-top: 1px solid rgb(19, 18, 18);
}

th.notop, td.notop {
	border-top: 1px hidden rgb(19, 18, 18);
}

th.nobottom, td.nobottom {
	border-bottom: 1px hidden rgb(19, 18, 18);
}

th.noleft, td.noleft {
	border-left: 1px hidden rgb(19, 18, 18);
}

th.noright, td.noright {
	border-bottom: 1px hidden rgb(19, 18, 18);
}

th.left_2px, td.left_2px {
	border-left: 2px solid rgb(20, 20, 20);
}

th.top_2px, td.top_2px {
	border-top: 2px solid rgb(20, 20, 20);
}

th.bottom_2px, td.bottom_2px {
	border-bottom: 2px solid rgb(20, 20, 20);
}

th.right_2px, td.right_2px {
	border-right: 2px solid rgb(20, 20, 20);
}

th.left_1px, td.left_1px {
	border-left: 1px solid rgb(20, 20, 20);
}

th.top_1px, td.top_1px {
	border-top: 1px solid rgb(20, 20, 20);
}

th.bottom_1px, td.bottom_1px {
	border-bottom: 1px solid rgb(20, 20, 20);
}

th.right_1px, td.right_1px {
	border-right: 1px solid rgb(20, 20, 20);
}

th.bordure, td.bordure {
	border: 1px solid rgb(20, 20, 20);
}

table.plage {
	margin-bottom: 20px;
}

table.plage th, table.plage td {
	width: 200px;
	border: 1px solid rgb(20, 20, 20);
}

table.plage td:hover {
	background-color: orange;
	cursor: pointer;
}

input.date {
	width: 110px;
}

.case {
	cursor: pointer;
}

.case:hover {
	background-color: rgb(208, 231, 252);
}

/* border */
/* haut | côtés verticaux | bas */
/* haut | droite | bas | gauche */

/* ------ Upload ------ */
.upload_button {
  margin-left: auto;
  margin-top: 4px;
  margin-right: 5px;
  height: 36px;
  width: 120px;
  font: bold 1rem 'Times New Roman';
  color: var(--upload-button-color);
  /*text-transform: uppercase;*/
  border-radius: 50px;
  line-height: 34px;
  text-align: center;
  background: var(--upload-button-bg-color);
}

.upload_button:hover {
  cursor: pointer;
}

.blur {
  filter: blur(1.3px) sepia(1);
}

/* ------ Logout button ------ */
.logout_button {
	position: absolute;
	right: 10px;
	top: 4px;
	height: 36px;
	width: 120px;
	font: bold 1rem 'Times New Roman';
	color: var(--upload-button-color);
	border-radius: 50px;
	line-height: 34px;
	text-align: center;
	background: var(--main-color);
}

.logout_button:hover {
  cursor: pointer;
}

.logout_button a, .logout_button a:visited {
	color:var(--uploadbutton-color);
}

/* ------- Help ------- */

.help_button {
  margin-left: auto;
  margin-top: 5px;
  height: 30px;
  width: 60px;
  font: bold 1rem 'Times New Roman';
  color: var(--help-button-color);
  text-transform: uppercase;
}


#help_frame {
	width: 570px;	
	margin: 0 auto;
	color: var(--help-color);
	background: var(--help-bg-color);
	border-radius: 10px;
	text-align: center;
}

#help_frame h2 {
	text-align: center;
	font-family: 'Cherry Swash', cursive;
}

#help_frame p {
	font-family: 'Cherry Swash', cursive;
	font-size: 1.2em;
	text-align: left;
	margin: 10px;
}

#help_frame p span {
	font-weight: bold;
	text-decoration: underline;
}

#close_button {
	cursor: pointer;
}

/* ------- Popup ------- */

.popup-wrap {
	z-index: 999;
}

.popup-box {
	width:320px;
	padding:30px;
	transform:translate(-50%, -50%) scale(0.5);
	position:absolute;
	top:380px;
	left:50%;
	box-shadow:0px 2px 16px rgba(0,0,0,0.5);
	border-radius:3px;
	background: var(--popup-bg-color);
	text-align:center;
	opacity: 0;
} 

.popup-modif {
	width: 1400px;
}

#modif_eq {
	display: flex;
	flex-direction: row;
}

#modif_eq table {
	width: 320px;
}

#modif_eq table thead {
	background-color: var(--table-titre-color);
}

.popup-box h2 {
	color:#1a1a1a;
}
  
.popup-box h3 {
   color:#888;
}
  
.close-btn {
    width:35px;
    height:35px;
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;
    -webkit-transition:all ease 0.5s;
    transition:all ease 0.5s;
    border-radius:1000px;
    background:#d75f70;
    font-weight:bold;
    text-decoration:none;
    line-height:190%;
}

.popup-box .close-btn:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.transform-in, .transform-out {
  display:block;
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
}

.transform-in {
	-webkit-transform:translate(-50%, -50%) scale(1);
	transform:translate(-50%, -50%) scale(1);
	opacity: 1;
}

.transform-out {
	-webkit-transform:translate(-50%, -50%) scale(0.5);
	transform:translate(-50%, -50%) scale(0.5);
	opacity: 0;
}

/* ------- Scroll to Top Button ------- */
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 35px;
}

#scroll_to_top img {
  width: 45px;
}

/* --------- Instruction ------------- */
.glob {
	display: flex;
	height: 700px;
}

table.creneaux th, table creneaux td {
	width: 120px;
}

table.creneaux tr:nth-child(2n) {
	background-color: var(--ligne-paire-color);
}

table.creneaux tr:nth-child(2n+1) {
	background-color: var(--ligne-impaire-color);
}

td.supprime {
	color: red;
	cursor: pointer;
}

.formu {
	margin-left: 130px;
}

.formu form {
    margin: 70px auto;
	overflow: hidden;
	width: 250px;
}

.form-group {
    margin-bottom: 10px;
	width: 200px;
}

.form-label {
    border: 0 none;
	font-size : 1.2rem;
	margin-left: -80px;
	margin-top: 7px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

label {
    display: inline-block;
    max-width: 100%;
}

.formu .form-control {
    background-color: transparent;
    background-image: none;
    border: 2px solid #0a0909;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 180px;
}

.form-control option {
	background-color: var(--table-titre-color);
}

.formu textarea.form-control {
	height: 87px;
}

.formu select.form-control {
	margin-left: 0;
	width: 208px;
}

.btn {
    -moz-user-select: none;
	user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/* ------- i1 ------- */
#i1 {
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px double white;
	padding: 10px;
	font-family: 'RussoOne';
	font-size : 16px;
	text-align: center;
	color: var(--select-bg-color);

}

#date_legend {
	width: 240px;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px double white;
	padding: 10px;
	font-family: 'RussoOne';
	font-size : 16px;
	text-align: center;
	color: var(--table-titre-color);
	list-style-type: none;
}

li.bleu {
	color: var(--color-2019);
}

li.orange {
	color: var(--color-j-7);
}

li.vert {
	color: var(--color-j);
}