:root {
	--table-titre-color: #eef3f5;
	--ligne-impaire-color: #eceff1;
	--ligne-paire-color: #dfe3e6;
	--focus: #dfe3e6;
	--border-color: hsla(0, 0%, 100%, .5);
}

body {
	background: var(--main-color);
	color: var(--main-bg-color);
	scroll-behavior: smooth;
}

input:invalid {
	background-color: ivory;
	border: none;
	outline: 2px solid red;
	border-radius: 5px;
  }

/* sert pour sélectionner les colonnes masquées (ne pas remplacer par .off) */
.masque {
	display: none;
}

#button_details {
	margin-left: 15px;
}

h1 {
	color: var(--main-bg-color);
}

/* ------- feuille capa ------- */

#feuille_capa_tour {
	display: flex;
	overflow: scroll;
}

#feuille_capa_tour th, #feuille_capa_tour th td {
	color: var(--main-bg-color);
}

#feuille_capa_simu{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 0px;
	background-color: #2c3e50;
	width: 99%;
}

#left_part {
	background-color: white;
	min-height: 540px;
}

#right_part {
	width: 1280px;
}

#upd {
	margin: 10px;
}

td.bordure {
	border: 1px solid #ccc;
}

td.bordure_heure {
	border-left: 1px solid #ccc;
	font-size: 10px;
}

/* haut | côtés verticaux | bas */
/* haut | droite | bas | gauche */
td.bordure_2 {
	border-style: hidden hidden solid solid;
	border-bottom-width: 1px;
	border-color: #ccc;
}

/* ------- Titre ------- */

header.instr {
	display: flex;
}

header.instr span {
	font-size: 16px;
	margin-top: 20px;
}

header.instr h1 {
	text-align: left;
	margin: 10px;
	width: auto;
	color: var(--main-bg-color);
	text-shadow: none;
}

header.instr span a:link, header.instr span a:visited {
	color: var(--main-bg-color);
}

/* ------- Menu ------- */

#tds_glob {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a:link, a:visited {
	color: var(--main-color);
}

#tds_glob select {
	margin-left: 10px;
	margin-right: 10px;
}

#tds_glob button {
	margin-left: 10px;
	margin-right: 10px;
}

#saison.select {
	margin-left: 0px;
	line-height: 20px;
	height: 24px;
	margin-top: 0;
	z-index: 1;
	width: 100px;
}

input {
	line-height: 20px;
}

/* ------- Date Picker ------- */

#dates {
	display: flex;
	flex-direction: row;
	width: 570px;
	margin: 0 auto;
	text-align: center;
}

#dates input {
	font-size: 11px;
	vertical-align: middle;
	width: 104px;
	margin-top: 5px;
	margin-right: 30px;
	margin-left: 5px;
}

#dates label {
	line-height: 28px;
	font-size: 14px;
	margin-left: 0px;
	margin-top: 5px;
}

#dates input.time {
	width: 60px;
}

#arrow_left, #arrow_right {
	margin-top: 2px;
}

/* --------- Boutons +/- ----------- */
.minus, .plus{
    height:25px;
    width:25px;
    border:1px black solid;
    border-radius:50%;
}
.minus:hover{
    background-color:rgb(253, 150, 150);    
}
.plus:hover{
    background-color:rgb(104, 194, 104);
}
.numberPlace {
	display: inline-block;
	width: 15px;
    margin-left:5px;
    margin-right:5px;
}

.modify {
	width: 80px;
}

/* ------- Résultats ------- */

#result, #result_greve, #cont {
	background-color: aliceblue;
	margin: 18px;
	padding: 20px;
	padding-top: 0px;
	min-height: 100%;
}

#result_supp {
	margin: 18px;
	padding: 20px;
	padding-top: 0px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	font-size: 1.1rem;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	/*width:fit-content;*/
}

table.uceso {
	margin: 0 auto;
	overflow: scroll;
}

table.uceso caption, table.simu caption {
	color: var(--caption-uceso);
}

caption {
	font-family: 'Sansation';
	font-size: 24px;
	margin: 10px;
	text-align: left;
}

table.uceso tr:nth-child(2n) {
	background-color: var(--ligne-impaire-color);
}

table.uceso tr:nth-child(6n+1), table.uceso tr:nth-child(6n+2), table.uceso tr:nth-child(6n+3) {
  background-color: var(--ligne-paire-color);
}

#table_option {
	height: 130px;
	background-color: #eceff1;
}

#table_option input {
	margin-left: 10px;
	margin-top: 20px;
}

#table_option label {
	margin-left: 10px;
	font-size: 14px;
}

table.uceso td, table.uceso th {
	min-width: 1rem;
	padding: 1px;
	text-align: center;
	font-size: 1.1rem;
}

.bold {
	font-weight: bold;
}

table.simu {
	width:fit-content;
}

table.simu td, table.simu th{
	padding: 5px;
	color: var(--main-bg-color);
}

td[data-col], #feuille_capa_tour td.pc {
	cursor: pointer;
}

#feuille_capa_tour td.pc:hover, #feuille_capa_uceso td.pc:hover {
	background-color:rgb(245, 213, 153);
	cursor: pointer;
}

td.typePC:hover, td.typePC-DET:hover, td.typePC-RPL:hover {
	background-color: var(--table-titre-color);
	cursor: pointer;
}

.barre {
	text-decoration: red line-through;
	color: red;
}

.surligne_cds {
	background-color: #59d0ee;
}

.pc_color {
	color: #0ac0f2;
}

.off_color {
	color: #f8b6b6;
}

.max {
	background-color: var(--max-sector-bg-color);
	width: 140px;
	margin-top: 20px;
	font-size: 16px;
}

.button_tour {
	margin-left: 20px;
	margin-right: 20px;
}

/* feuille capa */

td.f8px {
	font-size: 8px;
}

td.bg {
	background-color:rgb(181, 226, 240);
}

td.bg_red {
	background-color:rgb(245, 213, 153);
}

th.bordure, td.bordure {
	border: 1px solid rgb(19, 18, 18);
}

th.bordure_uc, td.bordure_uc {
	border: 2px solid rgb(19, 18, 18);
	border-top: 1px solid rgb(19, 18, 18);
}

th.notop, td.notop {
	border-top: 1px hidden rgb(19, 18, 18);
}

th.nobottom, td.nobottom {
	border-bottom: 1px hidden rgb(19, 18, 18);
}

th.noleft, td.noleft {
	border-left: 1px hidden rgb(19, 18, 18);
}

th.noright, td.noright {
	border-bottom: 1px hidden rgb(19, 18, 18);
}

th.left_2px, td.left_2px {
	border-left: 2px solid rgb(20, 20, 20);
}

th.top_2px, td.top_2px {
	border-top: 2px solid rgb(20, 20, 20);
}

th.bottom_2px, td.bottom_2px {
	border-bottom: 2px solid rgb(20, 20, 20);
}

th.right_2px, td.right_2px {
	border-right: 2px solid rgb(20, 20, 20);
}

th.left_1px, td.left_1px {
	border-left: 1px solid rgb(20, 20, 20);
}

th.top_1px, td.top_1px {
	border-top: 1px solid rgb(20, 20, 20);
}

th.bottom_1px, td.bottom_1px {
	border-bottom: 1px solid rgb(20, 20, 20);
}

th.right_1px, td.right_1px {
	border-right: 1px solid rgb(20, 20, 20);
}

th.bordure, td.bordure {
	border: 1px solid rgb(20, 20, 20);
}

table.plage {
	margin-bottom: 20px;
	margin-left: 45px;
}

table.plage th, table.plage td {
	width: 160px;
	border: 1px solid rgb(20, 20, 20);
	padding: 5px;
}

table.plage td:hover, td.save_supp, td.delete_supp {
	cursor: pointer;
}

table.plage th.px80, table.plage td.px80 {
	width: 80px;
}

table.plage select {
	margin: 0;
}

td.plage_validate {
	color: greenyellow;
}

td.plage_validate:hover {
	background-color: rgb(189, 189, 133);
}

td.plage_supprime {
	color: rgb(253, 3, 3);
}

td.plage_supprime:hover {
	background-color: rgba(226, 157, 68, 0.89);
}

.sortable tbody tr:nth-child(2n) {
	background: #b8b7b7;
}

input.date {
	width: 110px;
}

.case {
	cursor: pointer;
}

.case:hover {
	background-color: rgb(208, 231, 252);
}

/* border */
/* haut | côtés verticaux | bas */
/* haut | droite | bas | gauche */


/* ------- Help ------- */

.help_button {
  margin-left: auto;
  margin-top: 5px;
  height: 30px;
  width: 60px;
  font: bold 1rem 'Times New Roman';
  color: var(--help-button-color);
  text-transform: uppercase;
}


#help_frame {
	width: 570px;	
	margin: 0 auto;
	color: var(--help-color);
	background: var(--help-bg-color);
	border-radius: 10px;
	text-align: center;
}

#help_frame h2 {
	text-align: center;
	font-family: 'Cherry Swash', cursive;
}

#help_frame p {
	font-family: 'Cherry Swash', cursive;
	font-size: 1.2em;
	text-align: left;
	margin: 10px;
}

#help_frame p span {
	font-weight: bold;
	text-decoration: underline;
}

#close_button {
	cursor: pointer;
}

/* ------- Popup ------- */

.popup-wrap {
	z-index: 999;
}

.popup-box {
	width:320px;
	padding:30px;
	transform:translate(-50%, -50%) scale(0.5);
	position:absolute;
	top:380px;
	left:50%;
	box-shadow:0px 2px 16px rgba(0,0,0,0.5);
	border-radius:3px;
	background: var(--popup-bg-color);
	text-align:center;
	opacity: 0;
} 

.popup-box h2 {
	color:#1a1a1a;
	text-align: center;
}

.popup-modif {
	width: 1400px;
	z-index: 99;
}

.popup-supp {
	background: white;
	width: 1400px;
	top:920px;
}

#modif_eq {
	display: flex;
	flex-direction: row;
}

#modif_eq table {
	width: 320px;
}

#modif_eq table thead {
	background-color: var(--table-titre-color);
}

#modif_eq table td {
	font-size: 0.9rem;
}

.popup-box h2 {
	color:#1a1a1a;
}
  
.popup-box h3 {
   color:#888;
}

.ok_button {
	height: 20px;
}

.close-btn {
    width:35px;
    height:35px;
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;
    -webkit-transition:all ease 0.5s;
    transition:all ease 0.5s;
    border-radius:1000px;
    background:#d75f70;
    font-weight:bold;
    text-decoration:none;
    line-height:190%;
}

.popup-box .close-btn:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.transform-in, .transform-out {
  display:block;
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
}

.transform-in {
	-webkit-transform:translate(-50%, -50%) scale(1);
	transform:translate(-50%, -50%) scale(1);
	opacity: 1;
}

.transform-out {
	-webkit-transform:translate(-50%, -50%) scale(0.5);
	transform:translate(-50%, -50%) scale(0.5);
	opacity: 0;
}

/* ------- Scroll to Top Button ------- */
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 35px;
}

#scroll_to_top img {
  width: 45px;
}

/* --------- Instruction ------------- */
.glob {
	display: flex;
	flex-wrap: wrap;
	height: 700px;
}

a:link, a:visited {
	color: var(--main-color);
}

table.creneaux th, table creneaux td {
	width: 90px;
}

table.creneaux tr:nth-child(2n) {
	background-color: var(--ligne-paire-color);
}

table.creneaux tr:nth-child(2n+1) {
	background-color: var(--ligne-impaire-color);
}

td.supprime, td.vac_supp, td.vac_tds_delete {
	color: red;
	cursor: pointer;
}

td.add_sousvac {
	background-color: rgb(226, 226, 68);
}

td.vac_supp:hover, td[data-day]:hover, td.vac_tds_delete:hover, td.add_sousvac:hover {
	background-color: rgba(226, 157, 68, 0.89);
	cursor: pointer;
}

.sortable th {
	text-align: center;
}

.sortable td, .sortable th {
	padding: 5px;
}

.formu {
	margin-left: 130px;
}

.formu form {
    margin: 70px auto;
	overflow: hidden;
	width: 250px;
	
}

.form-group {
    margin-bottom: 10px;
	width: 200px;
	margin-left: 5px;
	margin-top: 3px;
}

.form-label {
    border: 0 none;
	font-size : 1.2rem;
	margin-left: -80px;
	margin-top: 7px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

label {
    display: inline-block;
    max-width: 100%;
}

.formu .form-control {
    background-color: transparent;
    background-image: none;
    border: 2px solid #0a0909;
    border-radius: 4px;
    box-shadow: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 180px;
}

.form-control option {
	background-color: var(--table-titre-color);
}

.formu textarea.form-control {
	height: 87px;
}

.formu select.form-control {
	margin-left: 0;
	width: 208px;
}

.btn {
    -moz-user-select: none;
	user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/* ------- TDS editor ------- */
body.editor header {
	margin: 0 auto;
	width: 180px;
	font-size: 36px;
}

body.editor #save {
	font-size: 1.3rem;
}

body.editor span a {
	margin-left: 30px;
}

body.editor select {
	background-color:#FFCC66;
}

#button_save {
	margin-left: 10px;
	margin-top: 5px;
}

#filtre {
	margin: 5px;
	padding: 5px;
	font-size: 1.5rem;
	background-color: #FFCC6633;
}

#filtre select {
	margin-top: 0;
}

span.back {
	margin-left: 20px;
	font-size: 1.1rem;
}

ul.menu_tds_editor {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	cursor: default;
	margin: 12px auto 0;
}


ul.menu_tds_editor li {
	line-height: 50px; /*permet le centrage vertical*/
	height: 100%;
	font-size: 14px;
	font-family: 'RussoOne';
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #ecf0f1;
	margin-left: -30px;
}

.click_jx {
	cursor: pointer;
}

.click_jx:hover {
	background-color: #FFCC66;
}

/* modal create sousvac */
#modal_popup {
	display: flex;
  	justify-content: center;
}

.modal-body {
	display: flex;
	padding: 0;
	border-radius: 4rem;
	font-family: 'PT Sans', sans-serif;
	background: white;
  }
  
.modal-content {
	border-radius: 4rem;
	box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
}

.modal-content h1, .modal-content h2, .modal-content h3 {
	text-align: center;
}

.modal-content h1 {
	font-size: 1.4em;
	text-transform: uppercase;
	text-shadow: none;
}

.modal-content h2 {
	font-size: 1.1em;
}

.modal-content h3 {
	font-size: .8em;
	letter-spacing: 2px;
}
  
#modal_popup form {
	font-size: 1.2em;
	margin-top: 30px;
}

.column {
	flex: 50%;
	padding: 10px;
	padding: 40px;
	margin-left: 15px;
}

#primary {
	text-align: center;
}
  
#secondary {
	background-color: #F9BC35;
	border-radius: 0 4rem 4rem 0;
	text-align: center;
	padding: 40px;
}

#primary .form-control {
	border-radius: 0;
	font-size: 1em;
	display: block;
}

.btn {
	text-transform: uppercase;
	border-radius: .15rem;
	width: 200px;
	padding: .150rem .75rem;
	margin: 20px auto;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 2px;
}
  
.btn-primary {
	border-color: rgba( 255, 255, 255, 0);
	background: #f1da36; /* Old browsers */
  	background: linear-gradient(to right, #f1da36 0%,#fca86c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
  
.btn-primary:hover {
	border-color: rgba( 255, 255, 255, 0);
}
  
#main .btn-primary {
	width: 100%;
}

#secondary .btn-primary {
	background: #f8f9fa4f;
	color: #000;
}

.modal-body label {
	margin-bottom: 0;
}

.close_modal {
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid var(--border-color);
	border-radius: 100rem;

	color: inherit;
	font-size: 2.2rem;
	text-decoration: none;

	position: absolute;
	top: 1.4rem;
	right: 1.4rem;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: .2s;
}

.close_modal::before {
	content: '×';
	transform: translateY(-.1rem);
	color: red;
}

.close_modal:hover, .close_modal:focus {
	background: var(--focus);
	border-color: var(--focus);
	transform: translateY(-.2rem);
}

.modal_text {
	background: rgb(194, 230, 250);
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
}

/* --------- popup gestion tds --------- */
#modal_tds, #modal_tds_supp, #modal_repartition {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

#modal_tds h1, #modal_tds_supp h1, #modal_repartition h1 {
	text-shadow: none;
}

#modal_tds table {
	margin-left: 20px;
}

.saison {
	display: block;
	background-color: #ccc;
	border-radius: 10px;
	margin: 15px;
	padding: 15px;
}

.modif {
	display: flex;
	justify-content: left;
}

.modif select {
	margin-left: 5px;
}

#modal_tds label {
	margin-left: 15px;
}

#modal_tds .form-group {
	display: inline;
}

td.save_supp {
	color: greenyellow;
}

td.save_supp {
	color: green;
}

td.save_supp:hover {
	background-color: rgb(226, 226, 68);
}

td.delete_supp:hover {
	background-color: rgba(226, 157, 68, 0.89);
}

td.delete_supp {
	color: rgb(253, 3, 3);
}

/* ------- weekdays selection -------- */
.weekDays-selector {
	width: 480px;
	margin-left: 20px;
}

.weekDays-selector input {
	display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
	display: inline-block;
	border-radius: 6px;
	background: #dddddd;
	height: 40px;
	width: 30px;
	margin-right: 3px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
	background: #2AD705;
	color: #ffffff;
  }

  /* gestion */
table.gestion {
	margin-bottom: 20px;
	margin-left: 10px;
}

table.gestion th, table.gestion td {
	width: 150px;
	border: 1px solid rgb(20, 20, 20);
	padding: 5px;
}

table.gestion td:hover, td.save_supp, td.delete_supp {
	cursor: pointer;
}

table.gestion th.px80, table.gestion td.px80 {
	width: 80px;
}

table.gestion select {
	margin: 0;
}

td.gestion_validate {
	color: greenyellow;
}

td.gestion_validate:hover {
	background-color: rgb(189, 189, 133);
}

td.gestion_supprime {
	color: rgb(253, 3, 3);
}

td.gestion_supprime:hover {
	background-color: rgba(226, 157, 68, 0.89);
}

table.gestion td.fixe {
    width: 80px;
}

.repartition_fixe_save_button {
	margin-left: 20px;
}

#sousvacInputName{
	margin-left: 10px;
}

/*SWITCH 3 ------------------------------------------------*/
#switch3 {
	margin-left: -50px;
}

.switch3{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 26px;
	border-radius: 26px;
	background-color: #f3f4f4;
	cursor: pointer;
	transition: all .3s;
	overflow: hidden;
	box-shadow: 0px 0px 2px rgba(0,0,0, .3);
	top: 9px;
  }
  .switch3 input{
	display: none;
  }
  .switch3 input:checked + div{
	left: calc(100px - 32px);
	box-shadow: 0px 0px 2px rgba(0,0,0,.4);
  }
  .switch3 div{
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: white;
	top: 5px;
	left: 5px;
	box-shadow: 0px 0px 1px rgb(150,150,150);
	transition: all .3s;
  }
  .switch3 div:before, .switch3 div:after{
	position: absolute;
	content: 'ON';
	width: calc(100px - 40px);
	height: 26px;
	line-height: 26px;
	font-family: 'Varela Round';
	font-size: 14px;
	font-weight: bold;
	top: -5px;
  }
  .switch3 div:before{
	content: 'STD';
	color: rgb(120,120,120);
	left: 100%;
  }
  .switch3 div:after{
	content: 'GREVE';
	right: 100%;
	color: rgb(153, 39, 39);
  }
  