:root {
  --main-bg-color: #2c3e50;
  --menu-bg-color: #34495e;
  --menu-hover-bg-color: #0dcda1;
  --main-color: #ecf0f1;
  --select-bg-color: #FFCC66;
  --table-titre-color: #677478;
  --ligne-impaire-color: #889499;
  --ligne-paire-color: #889499;
  --table-cell-hover-bg-color: #FFCC66;
  --table-cell-hover-color: black;
  --max-sector-bg-color: #E46464;
  --result-bg-color: #3f5a73;
  --help-bg-color: #6dd6cc;
  --help-color: #111;
  --help-button-color: #3db6ac;
  --upload-button-color:  #bb5733;
  --upload-button-bg-color: #6dd6cc;
  --popup-bg-color: #fff;
  --caption-uceso: #77ce77;
  --color-ref: #00caff;
  --color-j-7: #ffca00;
  --color-j: #77ce77;
  --rect-bg-color: #5fafd0;
}

.tv_color1 {
	background-color: #FFCC66;
}

.tv_color2 {
	background-color: #77ce77;
}

.tv_color3 {
	background-color: #00caff;
}

.tv_color4 {
	background-color:  #6dd6cc;
}


html {
	scroll-behavior: smooth;
	font-family: Avenir, sans-serif;
	font-size: 12px;
}

body {
	font-size: 1rem;
	background: var(--main-bg-color);
	color: var(--main-color);
}

h2 {
	font-family: 'Sansation';
	font-size: 2rem;
	margin: 10px;
	text-align: left;
}

.off {
	display: none;
}

.pointer {
	cursor: pointer;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.yellow {
	font-weight: bold;
	color: rgb(239, 243, 116);
}

.green {
	color: rgb(147, 218, 147);
}

.red {
	color: rgb(240, 122, 122);
}

.mgt {
	margin-top: 20px;
	padding-top: 10px;
	border-top:solid 2px #00caff;
}

/* Bandeau de navigation */

nav.navbar{
    position: sticky;
    top: 0px;
	background-image:url(../images/bandeau-fond3.png);
}

.body {
	position: relative;
	color: gold;
	margin-top: 40px;
	font-family: 'Dosis';
	font-size : 32px;
	text-align: center;
	-webkit-animation: fade 0.6s 0s ease both;
			animation: fade 0.6s 0s ease both;
	border: 2px double white;
  }

/* ------- Accueil bilan --------- */
#accueil{
	display: flex; 
	flex-wrap: wrap; 
	overflow-x: scroll;
}

.accueil {
	display: flex; 
	flex-wrap: wrap; 
	overflow-x: scroll;
}

#accueil_vols {
	margin-top: 3rem;
}

.accueil_bilan h2 {
	font-size: 2em;
	margin-top: 0;
	color: var(--select-bg-color);
}

h2.delimiter {
	width: 100%; 
	background-color: var(--rect-bg-color); 
	text-align:center
}

#accueil_bilan span.rect {
	font-family: 'Sansation';
	font-size: 1.8rem;
	margin: 0.6rem;
	padding: 0.6rem;
	background : var(--rect-bg-color);
}

.table_bilan {
	font-size: 18px;
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
	table-layout: fixed;
	min-width: 816px;
	border: 2px solid white;
}

table.table_bilan th {
	border-bottom: 2px solid white;
	color: white;
	text-align:center;
}

table.table_bilan th, table.table_bilan td {
	text-align:center;
	padding-left: 10px;
	padding-right: 10px;
}

table.table_bilan tr:nth-child(odd) {
	background-color: transparent;
}
  
table.table_bilan tr:nth-child(even) {
	background-color: transparent;
}

/* ------- Stats Mensuelles ------ */
.mt3 {
	margin-top: 3rem;
}

/* ------- Titre ------- */

h1 {
	font-size: 3rem;
	font-family: 'Azonix';
	color: var(--main-color);
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
	margin: 1rem 0;
}

/* ------- Menu ------- */

ul.menu {
	margin: 1rem auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: stretch;
    align-items: center; /* centrage vertical */
	width: 65%;
	background-color: var(--menu-bg-color);
	border-radius: 8px;
	cursor: default;
}

@media screen and (max-width: 1023px) {
  ul.menu {
	width: 80%;
  }
}

ul.menu li {
	line-height: 50px; /*permet le centrage vertical avec marge et bouton*/
	height: 100%;
	font-size: 1.2rem;
	font-family: 'RussoOne';
    flex-grow: 1;
    flex-shrink: 0;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: var(--main-color);
}

ul.menu li.feuille {
	/*margin-left: 40px;*/
}

ul.menu li label {
	margin-left: 40px;
}

ul.menu li span{
	transition: all .5s ease 0s;
	padding: 10px 20px 10px;
	border-radius: 2px;
}

ul.menu li span:hover {
	background-color: var(--menu-hover-bg-color);
	border-radius: 1rem;
	
}

select, option {
	font-size: 1rem;
	background-color: var(--select-bg-color);
	height: 1.8rem;
	margin-left: 40px;
	margin-top: 0.5rem;
}

#selection.select {
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 6px;
	z-index: 1;
	width: 70px;
}

/* ------- Date Picker ------- */
#dates {
	display: flex;
	flex-direction: row;
	/*
	width: 570px;
	margin: 0 auto;
	text-align: center;
	*/
	justify-content: center;
	align-items: center;
}

#dates_stats_confs {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33%;
	grid-gap: 5px;
	width: 190px;
	border: 2px solid pink;
	background:#537c9f;
	padding-bottom: 5px;
	padding-left: 3px;
}

#dates_stats_confs button.no {
	color :rgb(240, 122, 122);
}

#dates_stats_confs button.ok {
	color :rgb(47, 168, 107);
}

#dates button, #dates_stats_confs button {
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 15px;
}

#dates input, #dates_stats_confs input {
	font-size: 11px;
	width: 104px;
	margin-top: 5px;
	margin-right: 30px;
	margin-left: 5px;
}

#dates label, #dates_stats_confs label {
	line-height: 24px;
	font-size: 14px;
	margin-left: 0px;
	margin-top: 5px;
}

#dates input.time {
	width: 60px;
}

#bouton_stat_confs::after {
	border: 3px solid lightblue;
	border-radius: 2px;
	border-right: 0;
	border-right-color: currentcolor;
	border-top: 0;
	border-top-color: currentcolor;
	content: " ";
	display: inline-block;
	height: 0.625em;
	margin-left: 0.75em;
	margin-bottom: 2px;
	pointer-events: none;
	top: 50%;
	transform: rotate(-45deg);
	transform-origin: center;
	width: 0.625em;
}

#dates_stats_confs.content {
	display: none;
}

/* ------- Résultats ------- */

#semaine {
	margin-top: 3rem;
}

.delay {
	display: flex;
}

.block {
	display: block;
}

span.rect {
	font-family: 'Sansation';
	font-size: 18px;
	margin: 10px;
	padding: 10px;
	background : var(--ligne-impaire-color);
}

div.cause {
	background: var(--ligne-impaire-color);
  	margin: 3px 10px 3px 10px;
  	padding: 8px;
}

#glob_container {
	display : flex;
	flex-direction : row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
	margin-bottom : 100px;
	height: auto;
	width: auto;
}

#glob_container.off {
	display: none;
}

#result {
	background: var(--result-bg-color);
	overflow: auto;
	margin-right: 20px;
	margin-left: 10px;
	min-width:480px;
}

#result p {
	margin-left: 10px;
}

#result div.result {
	margin: 10px;
}

table {
	border-collapse: collapse;
	font-size: 1.1rem;
	margin-top: 20px;
	margin: 10px;
}

table.ouverture {
	display: inline-block;
}

#bouton_ouv_par_pos {
	margin-top: 1rem;
}

table.depassement {
	width: 500px;
}

caption {
	font-family: 'Sansation';
	font-size: 2rem;
	margin: 0.9rem;
	text-align: left;
}

table thead > tr.titre {
  background-color: var(--color-ref);
}

table tr:nth-child(odd) {
  background-color: transparent;
}

table tr:nth-child(even) {
  background-color: var(--ligne-paire-color);
}

table td, table th {
	width: auto;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	border-collapse: collapse;
}

td.separation, th.separation {
	border-right: 1px solid;
	padding-right: 4px;
	padding-left: 4px;
}

table td.tv, table th.tv {
	text-align: left;
	padding-right: 15px;
	cursor: help;
}

table td.tv:hover {
	color: var(--table-cell-hover-color);
	background: var(--table-cell-hover-bg-color) !important;
}

.max {
	background-color: var(--max-sector-bg-color);
	width: 140px;
	margin-top: 20px;
	font-size: 16px;
}

div.conf th {
	width: 100px;
	text-align: center;
}

table.regroup th {
	width: 140px;
	text-align: center;
}

table.conf {
	margin-left:auto;
	margin-right: auto;
}

table.conf tr.one {
	background-color: var(--table-titre-color);
}

table.conf tr.two {
	background-color: transparent;
}

table.conf th, table.conf td {
	/*border: solid 1px #ddd;*/
	padding-left: 10px;
	padding-right: 10px;
}

/* ------- Graphes ------- */

#graph-container, #graph-container2, #graph-container3 {
	display: block;
}

#graph-container.off, #graph-container2.off, #graph-container3.off {
	display: none;
}

#graph-container-h20, #graph-container-occ {
	font-size: 16px;
	color: #C00;
	cursor: grab;
	text-align: center;
}

#graph-container-h20 {
	width: 800px;
}

#graph-container-occ {
	width: 800px;
}

#graph_h20 {
	width: 800px;
	height:320px;
}

#graph_occ {
	width: 800px;
	height:340px;
}

#schema_dir {
	width: 40%;
	background: var(--result-bg-color);
	color: var(--main-color);
}

.blur {
  filter: blur(1.3px) sepia(1);
}

.l-30 {
	left: -32px;
}

/* ------- Help ------- */

.help_button {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 5rem;
  font: bold 1rem 'Times New Roman';
  color: var(--help-button-color);
  text-transform: uppercase;
}

.help_close_button {
	margin-bottom: 0.5rem;
}

#help_frame {
	width: 570px;	
	margin: 0 auto;
	color: var(--help-color);
	background: var(--help-bg-color);
	border-radius: 10px;
	text-align: center;
}

#help_frame h2 {
	text-align: center;
	font-family: 'Cherry Swash', cursive;
}

#help_frame p {
	font-family: 'Cherry Swash', cursive;
	font-size: 1.2em;
	text-align: left;
	margin: 10px;
}

#help_frame p span {
	font-weight: bold;
	text-decoration: underline;
}

/* ------- Popup ------- */

.popup-wrap {
	z-index: 999;
}

.popup-box {
	width:320px;
	padding:30px;
	transform:translate(-50%, -50%) scale(0.5);
	position:absolute;
	top:50%;
	left:50%;
	box-shadow:0px 2px 16px rgba(0,0,0,0.5);
	border-radius:3px;
	background: var(--popup-bg-color);
	text-align:center;
	opacity: 0;
} 

.popup-box h2 {
	color:#1a1a1a;
	text-align: center;
}
  
.popup-box h3 {
	font-size: 1.4rem;
    color:#888;
}

.popup-box h3 a {
	font-size: 1.4rem;
	color:rgb(240, 178, 64);
	text-decoration: underline;
 }

.close-btn {
    width:35px;
    height:35px;
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;
    -webkit-transition:all ease 0.5s;
    transition:all ease 0.5s;
    border-radius:1000px;
    background:#d75f70;
    font-weight:bold;
    text-decoration:none;
    line-height:190%;
}

.popup-box .close-btn:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.transform-in, .transform-out {
  display:block;
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
}

.transform-in {
	-webkit-transform:translate(-50%, -50%) scale(1);
	transform:translate(-50%, -50%) scale(1);
	opacity: 1;
}

.transform-out {
	-webkit-transform:translate(-50%, -50%) scale(0.5);
	transform:translate(-50%, -50%) scale(0.5);
	opacity: 0;
}

#add_conf {
	height: 400px;
	overflow-y: scroll;
	border: solid 1px rgb(238, 230, 230);
	padding-bottom: 4px;
}

#add_conf table {
	margin-top: 1rem;
}

#add_conf table tr {
	background-color: transparent;
}

#add_conf table thead > tr.titre {
	background-color: var(--table-titre-color);
}

.popup-conf1 {
	height: 500px;
}

#popup-cree-conf {
	padding: 7px;
	/*border: solid 1px orange;*/
	height: 550px;
	font-size: 1.2rem;
	background: var(--result-bg-color);
}

#close_creer_conf {
	margin-top: 5px;
}

td.supprime {
	color: rgb(214, 172, 172);
	cursor: pointer;
}

td.supprime:hover {
	background: rgb(136, 122, 122);
	cursor: pointer;
}

/* ------- Scroll to Top Button ------- */
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 35px;
}

#scroll_to_top img {
  width: 45px;
}

/* ------- i1 ------- */
#i1 {
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px double white;
	padding: 10px;
	font-family: 'RussoOne';
	font-size : 16px;
	text-align: center;
	color: var(--select-bg-color);

}

#date_legend {
	width: 240px;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px double white;
	padding: 10px;
	font-family: 'RussoOne';
	font-size : 16px;
	text-align: center;
	color: var(--table-titre-color);
	list-style-type: none;
}

li.bleu {
	color: var(--color-ref);
}

li.orange {
	color: var(--color-j-7);
}

li.vert {
	color: var(--color-j);
}

/*  --------------
	  Aide
	-------------- */
body.aide article {
	font-family: 'Avenir Next Regular';
	width: 800px;
	background: #ddd;
	color: black;
	border-radius: 20px;
}

body.aide article h2 {
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: underline;
	padding: 1.2rem;
	color:#16a1c4;
}

body.aide h2.titre, body.aide h2.titre a{
	color: orange;
	font-size: 3rem;
	font-weight: bold;
	padding: 1.2rem;
}

body.aide h2.titre a:hover {
	text-decoration: underline;
}

body.aide article p.intro {
	margin-bottom: 1rem;
}

body.aide article p.intro {
	padding-bottom: 0.8rem;
	padding-top: 0.8rem;
}

body.aide article p {
	font-size: 1.4rem;
	line-height: 1.3;
	margin: 1rem;
	text-align: left;
	padding-left: 4rem;
	padding-right: 4rem;
}

body.aide article p span, body.aide article ul li span{
	background: yellow;
}

body.aide article ul {
	list-style-type: disc; 
	text-align : left; 
	margin-left: 8rem; 
	font-size: 1.2rem; 
}

body.aide img {
	margin: 2rem;
}

body.aide .card_container {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	gap: 10px;
	height: auto;
	width: 759px;
	margin: 60px auto;
}

body.aide .card {
	display: flex;
	text-align: left;
	padding: 30px;
}

body.aide .card h2 a:hover {
	color: var(--color-ref);
}

body.aide .card .im {
	height: 200px;
	min-width: 320px;
	margin: 0 auto 0 0;
}

body.aide .card a img {
	height: 200px;
	width: 320px;
	margin: 0 auto 0 0;
}

body.aide .card div.content {
	display:flex;
	flex-direction: column;
	padding: 1.2rem;
	padding-top: 0;
}

body.aide .card div.content h2 {
	font-family: 'Roboto';
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1.1;
}

body.aide .card div.content p {
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

body.aide .card div.content footer {
	color: var(--select-bg-color);
	font-size: 1.1rem;
}

/* ---- Visu ----- */

#tvs {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
}

#timeline {
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.visu {
	margin-bottom: 50px;
}

.visu-liste-tvs {
	padding: 5px;
	border: 1px solid orange;
	cursor: pointer;
}

.range {
	position: relative;
	width: 724px;
	height: 5px;
	background: #b2b2b2;
  }
  
  .range-labels {
	margin: 18px -21px 0;
	padding: 0;
	list-style: none;
  }
  .range-labels li {
	position: relative;
	float: left;
	width: 40px;
	text-align: center;
	color: #b2b2b2;
	font-size: 14px;
	cursor: pointer;
  }
  .range-labels li::before {
	position: absolute;
	top: -27px;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background: #b2b2b2;
	border-radius: 50%;
  }
  .range-labels .active {
	color: #37adbf;
  }
  .range-labels .selected::before {
	background: #37adbf;
  }

  /* modal */

#modal_change {
	display: flex;
  	justify-content: center;
	margin-top: 15px;
}

.modal_change-body {
	display: flex;
	padding: 0;
	border-radius: 4rem;
	font-family: 'PT Sans', sans-serif;
	background: #ce982d;;
  }
  
.modal_change-content {
	position: relative;
	border-radius: 4rem;
	box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
}

.modal_change-content h1, .modal_change-content h2, .modal_change-content h3 {
	text-align: center;
}

.modal_change-content h1 {
	font-size: 1.4em;
	text-transform: uppercase;
	text-shadow: none;
}

.modal_change-content h2 {
	font-size: 1.1em;
}

.modal_change-content h3 {
	font-size: .8em;
	letter-spacing: 2px;
}
  
#modal_change form {
	font-size: 1.2em;
	margin-top: 30px;
}

#modal_change p {
	font-size: 1.3rem;
}

.column {
	flex: 50%;
	padding: 10px;
	padding: 40px;
	margin-left: 15px;
}

#primary {
	text-align: center;
}

.close_modal {
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid var(--border-color);
	border-radius: 100rem;

	color: inherit;
	font-size: 2.2rem;
	text-decoration: none;

	position: absolute;
	top: 1.4rem;
	right: 1.4rem;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: .2s;
}

.close_modal::before {
	content: '×';
	transform: translateY(-.1rem);
	color: red;
}

.close_modal:hover, .close_modal:focus {
	background: var(--focus);
	border-color: var(--focus);
	transform: translateY(-.2rem);
}

.btn {
	text-transform: uppercase;
	border-radius: .15rem;
	width: 200px;
	padding: .150rem .75rem;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
}
  
.btn-primary {
  	background: linear-gradient(to right, #f1da36 0%,#fca86c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
  
.btn-primary:hover {
	border-color: rgba( 255, 255, 255, 0);
}

/* AD selector */

.aero_list {
	display: block;
	background-color: #ccc;
	border-radius: 10px;
	margin: 15px;
	padding: 15px;
	color: black;
}

.crna_menu {
	display: flex;
	justify-content: center;
	background-color: #ccc;
	border-radius: 10px;
	margin: 15px;
	padding: 15px;
	color: black;
	min-width: 800px;
}

.crna_menu button {
	margin-left: 10px;
	margin-right: 10px;
}

.aero_div {
	display: flex;
	justify-content: center;
}

.aero_div select {
	margin-left: 5px;
}

.ad-selector {
	width: 480px;
	margin-left: 20px;
}

.airport_block {
	margin-bottom: 4px;
}

.airport_block button {
	margin-left: 15px;
}

.ad-selector input {
	display: none!important;
}
  
.ad-selector input[type=checkbox] + label {
	display: inline-block;
	border-radius: 6px;
	background: #dddddd;
	height: 40px;
	width: 34px;
	margin-right: 3px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
  
.ad-selector input[type=checkbox]:checked + label {
	background: #2AD705;
	color: #ffffff;
}

  
